.contentLetter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    max-width: 900px;
    max-height: 50vh;
    .letter{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        h1{
            font-size: 10em;
            color: red;
        }
    }
    .imgContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        img{
            padding: 20px;
            width: 100%;
            max-width: 300px;
            max-height: 300px;
        }
        p{
            width: 100%;
            margin-top: 0;
            font-size: 4em;
            text-align: center;
            span{
                color: red;
            }
        }
    }
}
.searchLetterWord{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 900px;
    max-height: 50vh;
    .letterWord{
        color: red;
        font-size: 3em;
    }
    p{
        margin: 0;
        padding: 0;
    }
    .wordConteiner{
        display: flex;
        .word{
            cursor: pointer;
            font-size: 3em;
            margin-bottom: 10px;
        }
        .backgroundGreen{
            height: 20px;
            padding: 5px;
            color: white;
            border-radius: 15px;
            background-color: green;
        }
        .backgroundRed{
            height: 20px;
            padding: 5px;
            color: white;
            border-radius: 15px;
            background-color: red;
        }
    }
}