<div class="contentLetter">
    <div class="letter">
        <h1>{{letterItem.id}}</h1>
    </div>
    <div class="imgContent">
        <img [src]="letterItem.linkImg" [alt]="letterItem.word">
        <p><span>{{letterItem.word[0]}}</span>{{letterItem.word.substr(1)}}</p>
    </div>
</div>
<div class="searchLetterWord">
    <p>Найдите (кликните) букву <span class="letterWord">{{letterItem.word[0].toLowerCase()}}</span> в слове:</p>
    <div class="wordConteiner">
        <p class="word" [innerHTML]="word" (click)="changeWord($event)"></p>
        <div *ngIf="visiblCheck" [class]="checkColor">
            <p [innerHTML]="checkLetter"></p>
        </div>
    </div>
</div>