@import '~@angular/material/theming';
.blockList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid #b7d1d0;
    margin: 10px;
    a{ margin: 5px; }
    a.active{
        text-decoration: underline;
        color: red;
    }
}